body{
    background-color: rgb(109, 54, 247);
    font: normal 15pt Arial;
}
header{
    color: rgb(255, 255, 255);
    text-align: center; 
}
section{
    background-color: aliceblue;
    border-radius: 10px; /*Para arredodar as bordas*/
    padding: 15px; /*Deixar a palavra espaçada*/
    width: 500px; /*Largura fixa*/
    margin: auto;/*Centralizar*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.371);

}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}